<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="app.css">
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <meta charset="utf-8">
    <title>drag app</title>
  </head>
  <body>
    <div class="lines">
      <ul class="titles">
        <li class="ca">Column A</li>
        <li class="cb">Column B</li>
      </ul>
    </div>
    <div class="col s12 m6">
<div id="sortable">
  <img class="leftpics" src="https://unsplash.it/150/150/?image=1074" alt="random">
  <img class="leftpics" src="https://unsplash.it/150/150/?image=1084" alt="random">
  <img class="leftpics" src="https://unsplash.it/150/150/?image=1069" alt="random">
</div>

<div id="stage" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

<div id="rightBox" ondrop="drop(event)" ondragover="allowDrop(event)">
  <img class="leftpics" src="https://unsplash.it/150/150/?image=1024" alt="random"
  draggable="true" ondragstart="drag(event)" id="drag1">
  <img class="leftpics" src="https://unsplash.it/150/150/?image=1020" alt="random"
  draggable="true" ondragstart="drag(event)" id="drag2">
  <img class="leftpics" src="https://unsplash.it/150/150/?image=943" alt="random"
  draggable="true" ondragstart="drag(event)" id="drag3">

</div>
</div>
  </body>
</html>
