<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="app.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <meta charset="utf-8">
    <title>drag app</title>
  </head>
  <body>
    <nav class="navbar">
      <div><img id="logo"src="http://i.imgur.com/lIyE8tG.png" alt="raw shorts"></div>
  </nav>
<div class="leftBox"
<ul id="sortable1">
  <li class="ui-state-default ui-state-disabled"><h5 id="ca">Column A</h5></li>
  <li class="ui-state-default"><img  src="https://unsplash.it/200/125/?image=1074" alt="tiger"></li>
  <li class="ui-state-default"><img  src="https://unsplash.it/200/125/?image=1084" alt="walrus"></li>
  <li class="ui-state-default"><img  src="https://unsplash.it/200/125/?image=1069" alt="jellyfish"></li>
</ul>
</div>

<div id="droppable" class="ui-widget-header"></div>

<div id="rightBox">
  <h5 id="cb"> Column B</h5>
  <img id="draggable2" class="ui-widget-content" src="https://unsplash.it/200/125/?image=1024" alt="eagle">
  <img id="draggable3" class="ui-widget-content" src="https://unsplash.it/200/125/?image=1020" alt="bear">
  <img id="draggable4" class="ui-widget-content" src="https://unsplash.it/200/125/?image=943" alt="dear">
</div>
  </body>
</html>
